
.container {
    padding: 1em 2em;
    width: 25%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.TodoList {
    list-style: none;
}

.Todo {
    display: inline-block;
    height: 2em;
    max-width: 8em;
}

.Todo.done {
    color: lightgray;
    text-decoration: line-through;
}